body {
	font-family: Helvetica, sans-serif;
	text-align: left;
}

p{
	color: #AD1457;
	padding: 1.5em 0 1.5em 0;
}

/*li {*/
/*	padding-left: 0;*/
/*}*/

ul {
	padding-left: 1em;
	/*margin-left: 10px;*/
}

li > ul {
	padding-left:3em;
}

.intro{
	max-width: 500px;
}

h1 {
	color: #E91E63;
}

li {
	color: #F06292;
	font-style: italic;
}